<script src="./js/ajaxStatus.js"></script>
<div>
    <input type="text" id="statusName" placeholder="Tình Trạng Post"/>
    <input type="text" id="statusDetails" placeholder="Mô tả"/>
    <input type="button" value="Add new" id="btn_AddNewStatus">
</div>

<ul id="status_List">
    <li>...</li>
</ul>
<div>
    <input type="hidden" id="hid_statusID"/>
    <input type="text" disabled id="currentName"/>
    <input type="button" value="Delete" id="btn_DeleteStatus"><br/><br/>
    <input type="text" id="newStatusName" placeholder="Tình trạng mới"/><br/><br/>
    <input type="text" id="newDetails" placeholder="Mô tả"/><br/><br/>
    <input type="button" value="Update" id="btn_UpdateStatus">
</div>