<script src="./js/ajaxCity.js"></script>
<div>
    <input type="text" name="txtCityName" id="cityName" placeholder="Ten Thanh Pho"/>
    <input type="button" value="Add new" id="btn_AddNewCity">
</div>

<ul id="city_List">
    <li>...</li>
</ul>
<div>
    <input type="hidden" id="hid_cityID"/>
    <input type="text" disabled id="currentName"/>
    <input type="button" value="Delete" id="btn_DeleteCity"><br/><br/>
    <input type="text" id="newCityName" placeholder="Tên Thành Phố mới"/>
    <input type="button" value="Update" id="btn_UpdateCity">
</div>