<script src="./js/ajaxHome.js"></script>
  <section class="home-section">

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Posts</div>
            <div class="number" id="totalPost"></div>
          </div>
        </div>
        <div class="box">
            <div class="right-side">
              <div class="box-topic">New Post</div>
              <div class="number" id="numberPostDate"></div>
            </div>
          </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number" id="totalUser"></div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">New Users </div>
            <div class="number" id="numberUserDate"></div>
          </div>
        </div>
      </div>

      
        
  </section>


